.account-orchestra{
    .mdc-text-field{
        width:100%;
    }

    .mdc-button{
        min-height: 36px;
        width:100%;
        @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
            height: 56px;
        }
    }
}
.account-orchestra-signup{
    .mdc-text-field{
        width:100%;
    }

    .mdc-select{
        width:100%;
    }

    .mdc-list{
        width:100%;
    }
}
