.account-orchestra{
    .mdc-text-field{
        width:100%;
    }

    .mdc-button{
        min-height: 36px;
        height:100%;
        width:100%;
    }
}
.account-orchestra-signup{
    .mdc-text-field{
        width:100%;
    }

    .mdc-select{
        width:100%;
    }

    .mdc-list{
        width:100%;
    }
}
