.page-header{
    min-height: 30%;
    @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
        min-height: 40%;
    }
    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        min-height: 50%;
    }
    position: relative;

    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.page-header-image{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;

    background: $secondary;

    .page-header-image-left-dots{
        position: absolute;
        left: 0;
        height: 100%;
        transform: rotate(180deg);
    }

    .page-header-image-right-dots{
        position: absolute;
        right: 0;
        height: 100%;
    }
}

.page-header-yellow{
    background: radial-gradient(lighten($sofYellow,10%) 0%, $sofYellow 90%);
}

.page-header-red{
    background: radial-gradient(lighten($primary,10%) 0%, $primary 90%);
}

.page-header-content{
    position: relative;
    width: 100%;

    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.page-header-title{
    flex: 1 0 auto;

    overflow: hidden;

    max-width: $page-grid-max-width - (map-get($outer-grid-margins, phone) + map-get($mdc-layout-grid-default-margin, phone) * 2);
    width: calc(100% - 24px*2);
    padding: 0px map-get($outer-grid-margins, phone) + map-get($mdc-layout-grid-default-margin, phone);
    @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
        padding: 0px map-get($outer-grid-margins, tablet) + map-get($mdc-layout-grid-default-margin, tablet);
    }
    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        padding: 0px map-get($outer-grid-margins, desktop) + map-get($mdc-layout-grid-default-margin, desktop);
    }

    color: white;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    h1{
        line-height: 3.5rem;
        font-size: 3em;
        margin: map-get($outer-grid-margins, phone) * 3 0px;
        text-shadow: 2px 2px rgba(0,0,0,0.2);

        @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
            line-height: 5rem;
            font-size: 5em;
            margin: map-get($outer-grid-margins, tablet) * 3 0px;
            text-shadow: 3px 3px rgba(0,0,0,0.2);
        }

        @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
            line-height: 6rem;
            font-size: 6em;
            margin: map-get($outer-grid-margins, desktop) * 3 0px;
            text-shadow: 4px 4px rgba(0,0,0,0.2);
        }

        margin-top: 0 !important;

    }
}
