.mdc-top-app-bar__title{
    margin-right: 32px;
}

.nav-button{
    padding: 8px 32px 8px 32px;
    height:100%;
    width:80px;
    display:flex;
    align-items:center;
    justify-content:center;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover{
    }

    &:link{
        color: white;
        text-decoration:none;
    }

    &:visited{
        color: white;
        text-decoration:none;
    }

    &:active{
        color: white;
        text-decoration:none;
    }

}

.nav-drawer{
    background-color: $sofRed;
    border-left-width:0 !important;
    font-size:large;
    color: white;

    .mdc-list{
        margin: 0;
        padding: 0;
    }
    
    .mdc-list-item{
        color: white;
        margin:0 !important;
        padding: 24px 16px 24px 16px;
        border-radius: 0;
        font-size:large;

        &.list-centered{
            justify-content: center;
        }

        &.mdc-ripple-upgraded--background-focused{
            &:before{
                opacity: 0 !important;
            }

            &:hover{
                &:before{
                    opacity: 0.06 !important;
                }
            }

        }

        .mdc-list-item__meta{
            margin-left: auto;
            margin-right: 0;

            color: white;
        }

        .mdc-list-item__secondary-text{
            margin-left: 1px
        }

    }


    .list-selected{
        background-color: darken($sofRed, 15%);
        &:before{
            opacity: 0 !important;
        }
    }

}
