.mdc-top-app-bar__title{
    margin-right: 32px;
}

.nav-button{
    padding: 8px 32px 8px 32px;
    height:100%;
    display:flex;
    align-items:center;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover{
        background: darken($sofRed, 10%);
    }

    &:link{
        color: white;
        text-decoration:none;
    }

    &:visited{
        color: white;
        text-decoration:none;
    }

    &:active{
        color: white;
        text-decoration:none;
    }

}
