.cart-item-card{
    @include mdc-elevation(2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .mdc-list{
        padding: 0;
        flex: 0 0 auto;
    }
    .product-list{
        flex: 1 0 auto;
    }

    .mdc-card__media{
        width: 56px;
        height: 56px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .mdc-text-field{
        margin: 8px;
        flex: 0 0 72px;
    }

    .mdc-icon-button{
        font-size: .875rem;
    }

    .mdc-list-item{
        position: relative;
        height: 72px;


        .mdc-list-item__primary-text{
            margin-top: -8px;
        }

        .rmwc-icon{
            width: 32px;
            height: 32px;
            font-size: 32px;

            @include user-select(none);
        }
    }
}
