.full-width-grid-image{
    width: calc(100% + #{map-get($mdc-layout-grid-default-margin, phone)} * 2) !important;
    margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, phone)}) !important;
    @media (min-width: mdc-layout-grid-breakpoint-min(tablet)) {
        width: calc(100% + #{map-get($mdc-layout-grid-default-margin, tablet)} * 2) !important;
        margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, tablet)}) !important;
    }
    @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
        width: calc(100% + #{map-get($mdc-layout-grid-default-margin, desktop)} * 2) !important;
        margin: calc(0px - #{map-get($mdc-layout-grid-default-margin, desktop)}) !important;
    }
}
