.rmwc-table-uninteractive{
    &.rmwc-data-table__row{
        &:hover{
            .rmwc-data-table__cell{
                &:before{
                    opacity: 0 !important;
                }
            }
        }
    }
}

.rmwc-table-full-width{
    width: 100%;

    .rmwc-data-table__content{
        width: 100%;
    }
}
