* {
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
}

.hide-mobile{
    @media (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
        display: none;
    }
}

.hide-desktop {
    @media not all and (max-width: mdc-layout-grid-breakpoint-max(tablet)) {
        display: none;
    }
}

.h-center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.v-center{
    display: flex;
    align-items: center;
}   
