$sofRed: #FF0000;
$primary: #FF0000;

$sofBlue: #0c726f;
$secondary: #0c726f;

$sofYellow: #ffd405;



$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;
