@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/top-app-bar/mixins';
@import '@material/react-button/index.scss';
@import './globalVars.scss';
@import "@material/top-app-bar/mdc-top-app-bar";

.top-bar{
    @include mdc-top-app-bar-fill-color($sofRed);
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-button{
    @include mdc-button-ink-color(white)
    width:100px;
    padding: 0 20px 0 20px;
}

.last-link{
    margin-right: 200px;
}
